<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mogi_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import mogi_arm urdf file -->
    <xacro:include filename="$(find bme_ros2_simple_arm)/urdf/mogi_arm.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="mogi_arm.ros2_control.xacro" />


    <xacro:mogi_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
